<h1>{{ title }}</h1>

<form action="" class="form-professor" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input name="nome" matInput placeholder="Nome completo" required [(ngModel)]="professor.nome">
    </mat-form-field>

    <mat-form-field>
        <textarea name="formacao" matInput placeholder="Formação" [(ngModel)]="professor.formacao" row="4"></textarea>
    </mat-form-field>

    <mat-form-field>
        <textarea name="endereco" matInput placeholder="Endereço completo" [(ngModel)]="professor.endereco" row="2"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input name="telefone" matInput placeholder="Telefone para contato" mask="(00) 000000009" required [(ngModel)]="professor.telefone">
    </mat-form-field>

    <mat-form-field>
        <input name="dataNascimento" matInput [matDatepicker]="dataNascimento" placeholder="Data de nascimento" required [(ngModel)]="professor.dataNascimento">
        <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
        <mat-datepicker #dataNascimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input name="cpf" matInput placeholder="CPF" mask="000.000.000-00" required [(ngModel)]="professor.cpf">
    </mat-form-field>

    <mat-form-field>
        <input name="rg" matInput placeholder="RG" required [(ngModel)]="professor.rg">
    </mat-form-field>

    <mat-form-field>
        <input name="valorHoraAula" type="number" step="0.01" matInput placeholder="Valor hora aula" required [(ngModel)]="professor.valorHoraAula">
        <mat-icon matPrefix>attach_money</mat-icon>
    </mat-form-field>

    <mat-form-field>
        <input name="email" matInput placeholder="E-mail" type="email" required [(ngModel)]="professor.email">
    </mat-form-field>

    <mat-toolbar class="form-actions">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">Salvar</button>
            <button mat-raised-button>Voltar</button>
        </mat-toolbar-row>
    </mat-toolbar>
    
</form>