/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~material-design-icons/iconfont/material-icons.css";

.h-cnt {
    padding: 0 50px;
    overflow: hidden;
}

.a-title {
    font-size: 34px;
    color: #3f51b5;
    margin: 10px 0 0;
    position: relative;
}

.a-table {
    width: 100%;
    margin: 30px auto 0;
}

.a-table-header {
    color: #3f51b5;
    font-size: 16px;
    font-weight: bold;
}

.a-table-header.email {
    width: 30%;
}

.a-btn-list {
    visibility: hidden;
}

.mat-row:hover .a-btn-list {
    visibility: visible;
}

.mat-row:hover {
    background-color: rgba($color: #3f51b5, $alpha: 0.2);
}

.action-new {
    background: transparent;
    padding: 0;
}

.action-new .mat-raised-button {
    font-size: 125%;
    padding: 8px 16px;
}

.form-professor {
    min-width: 150px;
    max-width: 500px;
}

.form-professor .mat-form-field {
    width: 100%;
    & textarea {
        resize: none;
    }
}